@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Menu Global */
.menu {
  background: #11144c;
  padding: 20px;
}

.menu .content {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.menu .logo {
  padding: 0;
}

.menu h1 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-menu ul {
  display: flex;
}

.nav-menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 12px 20px;
  transition: all 0.3s ease 0s;
}

.menu a:hover {
  color: #3a9679;
}

.contact {
  background: #3a9679;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 12px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.3s ease 0s;
}

.contact:hover {
  background: #247D61;
}

/* Menu 1 */
.menu:nth-child(1) .content {
  justify-content: flex-end;
}

.menu:nth-child(1) .logo {
  margin-right: auto;
}

@media only screen and (max-width: 620px) {
  .menu:nth-child(1) .content {
    flex-direction: column;
  }
  .menu:nth-child(1) .logo {
    margin-right: 0;
  }
  .menu:nth-child(1) .nav-menu {
    margin: 20px 0;
  }
}

/* Menu 2 */
.menu:nth-child(2) .content {
  justify-content: space-between;
}

.menu:nth-child(2) .contact {
  margin-left: 0;
}

@media only screen and (max-width: 620px) {
  .menu:nth-child(2) .content {
    flex-direction: column;
  }

  .menu:nth-child(2) .nav-menu {
    margin: 20px 0;
  }
}

/* Menu 3 */
.menu:nth-child(3) .content {
  justify-content: flex-start;
}

.menu:nth-child(3) .nav-menu {
  order: -2;
}

.menu:nth-child(3) .contact {
  order: -1;
}

.menu:nth-child(3) .logo {
  margin-left: auto;
}

@media only screen and (max-width: 620px) {
  .menu:nth-child(3) .content {
    flex-direction: column;
  }

  .menu:nth-child(3) .nav-menu {
    order: -2;
    margin: 20px 0;
  }

  .menu:nth-child(3) .logo {
    order: -2;
    margin-left: 0;
  }
}